<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   
 <!-- byName used when property name and id name is same
      byNmae internally calls setter method -->  
<bean class="in.sp.beans.Student" id="stdID" autowire="byName">
<property name="name" value="Alisha"></property>
<property name="roll" value="1"></property>
<!--  <property name="address" ref="AddrID"></property>  -->
</bean>

<bean class="in.sp.beans.Address" id="address" >
<property name="houseno" value="111"></property>
<property name="city" value="Jamshedpur"></property>
<property name="pincode" value="832104"></property>
</bean>
</beans>